<template>
  <b-modal ref="authModal" id="authModal" hide-header hide-footer>
    <div class="login" v-if="showLogin">
      <div class="row mt-2">
        <div class="col-sm-12">
          <h5 class="text-center heading"><span>Accede a tu cuenta</span></h5>
          <hr class="heading-stripe">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-12">
          <form @submit.stop.prevent="login">
            <div class="form-group has-left-feedback m-0">
              <label></label>
              <input type="text" class="form-control" v-model="email" placeholder="Email" required>
              <span class="fa fa-envelope-o form-control-left-feedback"></span>
            </div>
            <div class="form-group has-left-feedback mb-5">
              <label></label>
              <input type="password" class="form-control" v-model="password" placeholder="Contraseña" required minlength="6">
              <span class="fa fa-lock form-control-left-feedback"></span>
            </div>
            <div class="form-group">
              <a href="#" class="text-default insignificant">¿Te olvidaste la contraseña?</a>
            </div>
            <div class="form-group mb-4">
              <button type="submit" class="btn btn-orange btn-lg btn-round pr-5 pl-5 text-bold" :disabled="pending">ACCEDER<span v-show="pending">&nbsp;<span class="fa fa-circle-o-notch fa-spin"></span></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-12 barely-visible mb-4">
          <h6 class="text-center heading"><span>O ACCEDE A TRAVÉS DE</span></h6>
          <hr class="bottom-stripe">
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 left-adjacent-div mb-2">
              <button class="btn btn-black btn-block social-button text-left p-0" @click="loginOAuth('facebook')" :disabled="pending"><div class="pull-left left-social-icon"><span class="fa fa-facebook"></span></div><div class="p-1 pull-left">FACEBOOK</div></button>
            </div>
            <div class="col-sm-6 right-adjacent-div mb-2">
              <button class="btn btn-black btn-block social-button text-left p-0" @click="loginOAuth('google')" :disabled="pending"><div class="pull-left left-social-icon"><span class="fa fa-google-plus"></span></div><div class="p-1 pull-left">GOOGLE</div></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-2">
        <div class="col-sm-12">
          ¿No tenés una cuenta?&nbsp;<a href="#" @click="showLogin = false" class="text-default text-bold">Registrate</a>
        </div>
      </div>
    </div>

    <div class="signup" v-if="!showLogin">
      <div class="row heading">
        <div class="col-sm-12">
          <h1><span class="fa fa-user-circle-o"></span></h1>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <form @submit.stop.prevent="signup">
            <div v-if="false" class="form-group has-left-feedback m-0">
              <!-- username is not used in the current version -->
              <label></label>
              <input type="text" class="form-control" v-model="username" placeholder="Usuario" required>
              <span class="fa fa-user-o form-control-left-feedback"></span>
            </div>
            <div class="form-group has-left-feedback m-0">
              <label></label>
              <input type="email" class="form-control" v-model="email" placeholder="Email" required>
              <span class="fa fa-envelope-o form-control-left-feedback"></span>
            </div>
            <div class="form-group has-left-feedback m-0">
              <label></label>
              <input type="password" class="form-control" v-model="password" placeholder="Contraseña" required minlength="6">
              <span class="fa fa-lock form-control-left-feedback"></span>
            </div>
            <div class="form-group has-left-feedback mb-5">
              <label></label>
              <input type="password" class="form-control" v-model="passwordRepeat" placeholder="Repetir contraseña" required minlength="6">
              <span class="fa fa-lock form-control-left-feedback"></span>
            </div>
            <div class="form-group mb-4">
              <button type="submit" class="btn btn-orange btn-lg btn-round pr-5 pl-5 text-bold" :disabled="pending">REGISTRARME<span v-show="pending">&nbsp;<span class="fa fa-circle-o-notch fa-spin"></span></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-3 mb-2">
        <div class="col-sm-12">
          ¿Ya tenés una cuenta?&nbsp;<a href="#" @click="showLogin = true" class="text-default text-bold">Logueate</a>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'authModal',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      passwordRepeat: '',
      showLogin: true,
      pending: false,
    };
  },
  methods: {
    loginOAuth(provider) {
      if (provider === 'facebook') {
        if (window.fbAccessToken) {
          this.convertToken('facebook', window.fbAccessToken);
        } else {
          FB.login((rres) => {
            if (rres && rres.authResponse && rres.authResponse.accessToken) {
              window.fbAccessToken = rres.authResponse.accessToken;
              this.convertToken('facebook', window.fbAccessToken);
            }

            return null;
          }, { scope: 'email' });
        }
      } else if (provider === 'google') {
        if (window.googleAccessToken) {
          this.convertToken('google', window.googleAccessToken);
        } else {
          // Listen for sign-in state changes.
          GoogleAuth.isSignedIn.listen((is) => {
            if (is) {
              const user = GoogleAuth.currentUser.get();
              if (user && user.getAuthResponse && user.getAuthResponse().access_token) {
                window.googleAccessToken = user.getAuthResponse().access_token;
                this.convertToken('google', window.googleAccessToken);
              }
            }
          });

          GoogleAuth.signIn();
        }
      }
    },
    convertToken(provider, token) {
      this.pending = true;
      this.$store.dispatch('convertToken', {
        provider,
        token,
      }).then((is) => {
        this.pending = false;
        if (is) {
          this.$refs.authModal.hide();
          this.$root.$emit('auth::login');
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
      }).catch((err) => {
        console.log(err);
        this.pending = false;
        this.$toasted.error('Se ha producido un error.');
      });
    },
    login() {
      this.pending = true;
      return this.$store.dispatch('login', {
        email: this.email,
        password: this.password,
      }).then((is) => {
        this.pending = false;
        if (is) {
          this.$refs.authModal.hide();
          this.$root.$emit('auth::login');
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
      }).catch((err) => {
        this.pending = false;
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    },
    signup() {
      if (this.password !== this.passwordRepeat) {
        this.$toasted.warning('Las contraseñas no coinciden');
        return false;
      }

      this.pending = true;
      return this.$store.dispatch('signup', {
        email: this.email,
        password: this.password,
      }).then((is) => {
        this.pending = false;
        if (is) {
          this.$refs.authModal.hide();
          this.$root.$emit('auth::login');
        }
      }).catch((err) => {
        this.pending = false;
        console.log(err);
      });
    },
  },
};
</script>

<style scoped>
input.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 4px solid rgb(188, 187, 181);
}

.social-button {
  font-size: 16px;
}

.has-left-feedback .form-control {
  padding-left: 38px;
}

.form-control-left-feedback {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px !important;
  text-align: center;
}

.signup .heading {
  margin-top: -60px;
}

.signup .heading h1 {
  font-size: 5rem;
  color: rgb(177, 210, 206);
}

.signup .heading h1 span {
  background: rgb(109, 148, 139);
  border-radius: 100%;
  padding: 4px;
}

.login .heading span {
  position: relative;
  z-index: 1;
  background:#fff;
  padding:0 10px;
}

.left-social-icon {
  width: 30px;
  height: 28px;
  border-right: 3px solid #fff;
  text-align: center;
}

.left-social-icon .fa {
  line-height: 28px;
}

.heading-stripe {
  position: absolute;
  top: -6px;
  z-index: 0;
  border-top: 4px solid #3A393B;
  left: 15px;
  right: 15px;
}

.bottom-stripe {
  position: absolute;
  top: -12px;
  z-index: 0;
  border-top: 7px solid #3A393B;
  left: 15px;
  right: 15px;
}

.form-group {
  position: relative;
}

@media (min-width: 768px) {
  .left-adjacent-div {
    padding-right: 5px;
  }

  .right-adjacent-div {
    padding-left: 5px;
  }
}
</style>
