<template>
  <div class="create-location pb-5 pt-5">
    <div id="save-location-modal-wrapper">
      <save-location-modal :options="options" :securityrating="securityRating"></save-location-modal>
    </div>

    <div class="container">
      <div class="row justify-content-center mb-1">
        <div class="col-sm">
          <img width="140px" class="img-responsive" src="../assets/create-location-person.png" alt="Create Location Person">
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-8 col-md-10 mt-4">

          <button v-on:click="questionNo--;" v-show="questionNo > 1" class="btn btn-link chevron pull-left"><span class="fa fa-chevron-left"></span></button>
          <div v-show="questionNo <= 1" class="pull-left" style="width: 60px; height: 1px;"></div>

          <span class="fa fa-circle-o-notch fa-spin" style="font-size: 130%" v-show="!questions.length"></span>
          <div class="step" v-show="questions.length">
            <strong>{{ questionNo }} - </strong>{{ questions.length }}
          </div>

          <div v-show="!(questionNo < questions.length && answeredQuestions.indexOf(questions[questionNo - 1].url) > -1)" class="pull-right" style="width: 60px; height: 1px;"></div>
          <button v-on:click="questionNo++;" v-show="questionNo < questions.length && answeredQuestions.indexOf(questions[questionNo - 1].url) > -1" class="btn btn-link chevron pull-right"><span class="fa fa-chevron-right"></span></button>

        </div>
      </div>
      <div v-if="questions.length" class="row justify-content-center mt-4">
        <div class="col-lg-6 col-md-8">
          <h4>{{ questions[questionNo - 1].text }}</h4>
        </div>
      </div>

      <div class="row justify-content-center mt-4" v-if="questions.length && (questions[questionNo - 1].question_type == 'single' || !questions[questionNo - 1].question_type)">
        <div class="col-lg-9 col-md-11 justify-content-center">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4" v-for="(c, cIndex) in questions[questionNo - 1].choices">
              <button v-on:click="singleChoiceSelected(cIndex)" class="btn btn-orange btn-round-mini btn-lg btn-block shadow-2 mb-3 single-question-answer-button" :disabled="pending">{{ c.text }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-4" v-if="questions.length && questions[questionNo - 1].question_type == 'multiple'">
        <div class="col-lg-6 col-md-8 col-sm-10 justify-content-center">
          <div class="row">
            <div class="col-md-6 col-12 text-left" v-for="c in questions[questionNo - 1].choices" v-if="!removeCheckboxes">
              <div class="form-check">
                <label class="form-check-label pt-2">
                  <input class="form-check-input custom-checkbox checkbox-orange" type="checkbox" v-model="c.checked">
                  {{ c.text }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-10 justify-content-center mt-5">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4">
              <button class="btn btn-orange btn-round-mini btn-lg btn-block shadow-2 mb-2" v-on:click="multiChoiceSelected">ACEPTAR</button>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <button class="btn btn-link text-default btn-lg btn-block text-regular insignificant mb-2" v-on:click="multiChoiceCancelled">CANCELAR</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import SaveLocationModal from './SaveLocationModal';

export default {
  name: 'create-location',
  components: { SaveLocationModal },
  data() {
    return {
      questions: [],
      followups: [],
      questionNo: 1, // current question number (starting from 1)
      answeredQuestions: [], // array of question urls
      options: [],
      pending: false,
      securityRating: 0,
      name: '',
      address: '',
      removeCheckboxes: false,
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    getQuestions() {
      this.$http.get(`${process.env.ENID_URL}/questions/`).then((res) => {
        if (res && res.data && res.data.length) {
          const qs = res.data;

          // adding isFollowup flag to questions that are follow ups
          qs.forEach((q) => { // iterating each question
            const chs = q.choices;
            if (chs && chs.length) {
              chs.forEach((ch) => { // iterating each choice
                const fls = ch.followups;
                if (fls && fls.length) {
                  fls.forEach((fl) => { // iterating each followup
                    const flIndex = _.findIndex(qs, qq => qq.url === fl);
                    if (flIndex > -1) {
                      qs[flIndex].isFollowup = true;
                    }
                  });
                }
              });
            }
          });

          this.followups = _.filter(qs, qq => qq.isFollowup);
          this.questions = _.filter(qs, qq => !qq.isFollowup).sort(this.sortQuestionsByPosition);
        }
      }).catch((err) => {
        console.log(err);
      });
    },
    sortQuestionsByPosition(a, b) {
      if (a.position === -1) {
        return 1;
      }

      if (b.position === -1) {
        return -1;
      }

      return a.position - b.position;
    },
    selectChoice(ch) {
      // adding new options
      if (ch.options && ch.options.length) {
        ch.options.forEach((o) => {
          this.options.push(o);
        });
      }

      this.options = _.uniq(this.options);

      // adding followup questions if it has any
      if (ch.followups && ch.followups.length) {
        let ps = ch.followups.map((furl) => {
          const fi = _.findIndex(this.followups, ff => ff.url === furl);
          if (fi > -1) {
            return this.followups[fi];
          }

          return null;
        });

        ps = ps.filter(o => !!o).sort(this.sortQuestionsByPosition); // removing null elements

        // merging followups with old questions
        const pastQuestions = this.questions.splice(0, this.questionNo);
        this.questions = [...pastQuestions, ...ps, ...this.questions];
      }
    },
    moveToNextStep() {
      if (this.questionNo < this.questions.length) {
        this.questionNo += 1;
      } else {
        this.calculateSecurityLevel(() => {
          this.$root.$emit('show::modal', 'saveLocationModal');
        });
      }
    },
    calculateSecurityLevel(cb) {
      this.pending = true;
      this.$http.post(`${process.env.ENID_URL}/places/calculate_security_rating/`, { options: this.options }).then((res) => {
        if (res && res.data) {
          this.securityRating = res.data.security_rating;
        }

        this.pending = false;
        cb();
      }).catch(err => console.log(err));
    },
    multiChoiceCancelled() {
      const que = this.questions[this.questionNo - 1];
      this.removeCheckboxes = true;
      que.choices.forEach((ch, chi) => {
        que.choices[chi].checked = false;
      });

      this.removeCheckboxes = false;
    },
    multiChoiceSelected() {
      const que = this.questions[this.questionNo - 1];

      // clears if this question is answered before
      this.removeQuestionAndOptionsRecursively(que);

      que.choices.forEach((ch) => {
        if (ch.checked) {
          this.selectChoice(ch);
        }
      });

      this.moveToNextStep();

      if (this.answeredQuestions.indexOf(que.url) === -1) {
        this.answeredQuestions.push(que.url);
      }
    },
    singleChoiceSelected(cIndex) {
      const que = this.questions[this.questionNo - 1];
      const chs = que.choices;

      // clears if this question is answered before
      this.removeQuestionAndOptionsRecursively(que);
      this.selectChoice(chs[cIndex]);

      this.moveToNextStep();

      if (this.answeredQuestions.indexOf(que.url) === -1) {
        this.answeredQuestions.push(que.url);
      }
    },
    removeQuestionAndOptionsRecursively(q) {
      const qIndex = this.answeredQuestions.indexOf(q.url);
      if (qIndex > -1) {
        // removing from answered questions
        this.answeredQuestions.splice(qIndex, 1);

        const chs = q.choices;
        chs.forEach((ch) => {
          // removing every option related to this question from options array
          if (ch.options && ch.options.length) {
            ch.options.forEach((op) => {
              if (this.options.indexOf(op) > -1) {
                this.options.splice(this.options.indexOf(op), 1);
              }
            });
          }

          // removing every followup question related to this question from questions array
          if (ch.followups && ch.followups.length) {
            ch.followups.forEach((fl) => {
              const flIndex = _.findIndex(this.questions, qq => qq.url === fl);
              if (flIndex > -1) {
                this.removeQuestionAndOptionsRecursively(this.questions[flIndex]);
                this.questions.splice(flIndex, 1);
              }
            });
          }
        });
      }
    },
  },
  watch: {
    options() {
      this.$localStorage.set('createLocationOptions', this.options);
    },
    securityRating() {
      this.$localStorage.set('createLocationSecurityRating', this.securityRating);
    },
  },
  mounted() {
    // this http request is for checking if the owner of a place is the current user,
    // if not authorized, the interceptor will redirect the user to home
    if (this.$route.query && this.$route.query.placeId) {
      this.$http.get(`${process.env.ENID_URL}/places/${this.$route.query.placeId}/`).then((res) => {
        if (res && res.data && res.status === 200) {
          this.name = res.data.name;
          this.address = res.data.address;
        }
      }).catch(err => console.log(err));
    }
    this.getQuestions();

    this.$localStorage.set('createLocationOptions', []);
    this.$localStorage.set('createLocationSecurityRating', 0);
  },
};
</script>

<style scoped>
  .single-question-answer-button {
    white-space: normal;
  }

  .step {
    font-size: 130%;
    display: inline-block;
    padding: 2px 10px;
    border-right: 2px solid #575757;
    border-left: 2px solid #575757;
  }

  .chevron {
    color: #16808D;
    font-size: 250%;
  }
</style>
