<template>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-12">
        <b-card class="shadow-2 text-left mb-3">
          <h4 class="mb-0"><span class="fa fa-user profile-icon"></span>&nbsp;&nbsp;&nbsp;<span class="profile-title">Perfil</span></h4>
        </b-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <b-card class="shadow-2 text-left mb-3">
          <div class="row">
            <div class="col-sm-12 p-5">

              <div class="row mb-4">
                <div class="zq-input-label col-12 col-md-3 text-bold pt-2"></div>
                <div class="col-md-7 col-12">
                  <h3><span v-show="user.name">{{ user.name }}</span><span v-show="!user.name">...</span></h3>
                </div>
              </div>

              <form @submit.stop.prevent="save">
                <div class="row">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Nombre
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="user.name" placeholder="...">
                    </div>
                  </div>
                </div>

                <div v-if="false" class="row">
                  <!-- no username at current version -->
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Nombre de usuario
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="user.username" placeholder="..." required>
                    </div>
                  </div>
                </div>

                <div class="row mt-4 mb-3">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-7 text-center insignificant text-bold">
                    INFORMACIÓN PRIVADA
                  </div>
                </div>

                <div class="row">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Correo electrónico
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="email" class="form-control" v-model="user.email" placeholder="..." required>
                    </div>
                  </div>
                </div>

                <div class="row" v-if="false">
                  <!-- no phone number at current version -->
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Número de teléfono
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="user.phone" placeholder="+ 54 116666-3333">
                    </div>
                  </div>
                </div>

                <div class="row" v-if="false">
                  <!-- no gender info at current version -->
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Sexo
                  </div>
                  <div class="col-sm-2 col-4">
                    <div class="form-group">
                      <input type="text" class="form-control" v-model="user.sex">
                    </div>
                  </div>
                </div>

                <div class="row" v-if="false">
                  <!-- no notification authorization at current version -->
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Autorización
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-check">
                      <label class="form-check-label pt-2">
                        <input class="form-check-input custom-checkbox" type="checkbox" v-model="user.allow_notifications" value="">
                        Deseo recibir notificaciones y alertas de Zequer a mi dirección de correo.
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2"></div>
                  <div class="col-md-7 col-12">
                    <div class="row">
                      <div class="col-sm-6 mb-2">
                        <button type="submit" class="btn btn-orange btn-round-mini shadow-2 save-button pull-left" :disabled="pending">GUARDAR<span v-show="pending">&nbsp;<span class="fa fa-circle-o-notch fa-spin"></span></span></button>
                      </div>
                      <div class="col-sm-6 mb-2">
                        <a href="#" class="text-orange">Desactivar mi cuenta temporalmente</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-12 p-5">
              <div class="row mb-4">
                <div class="zq-input-label col-12 col-md-3 text-bold pt-2"></div>
                <div class="col-md-7 col-12">
                  <h4>Cambia la contraseña</h4>
                </div>
              </div>

              <form @submit.stop.prevent="changePassword">
                <div class="row">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Contraseña actual
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="password" class="form-control" v-model="currentPassword" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Nueva contraseña
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="password" id="new-password" class="form-control" v-model="newPassword" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2">
                    Nueva confirmación de contraseña
                  </div>
                  <div class="col-md-7 col-12">
                    <div class="form-group">
                      <input type="password" id="new-password-again" class="form-control" v-model="newPasswordAgain" required>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="zq-input-label col-12 col-md-3 text-bold pt-2"></div>
                  <div class="col-md-7 col-12">
                    <button type="submit" class="btn btn-orange btn-round-mini shadow-2 save-button pull-left" :disabled="pendingPassword">GUARDAR<span v-show="pendingPassword">&nbsp;<span class="fa fa-circle-o-notch fa-spin"></span></span></button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'editProfile',
  data() {
    return {
      pending: false,
      pendingPassword: false,
      currentPassword: '',
      newPassword: '',
      newPasswordAgain: '',
    };
  },
  computed: {
    user() {
      return this.$store.getters.getCurrentUser;
    },
  },
  methods: {
    save() {
      this.pending = true;
      return this.$store.dispatch('updateUserInfo', {
        name: this.user.name,
        // username: this.username,
        email: this.user.email,
        // phone: this.phone,
        // sex: this.sex,
        // allow_notifications: this.allow_notifications,
      }).then((res) => {
        if (res) {
          this.$toasted.success('Se guardo correctamente');
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
        this.pending = false;
      }).catch((err) => {
        this.pending = false;
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    },
    changePassword() {
      if (this.newPassword === this.newPasswordAgain) {
        this.pendingPassword = true;
        return this.$store.dispatch('changePassword', {
          current_password: this.currentPassword,
          new_password: this.newPassword,
        }).then((res) => {
          if (res && res.status === 200) {
            this.$toasted.success('Su contraseña ha cambiado correctamente.');
          } else {
            this.$toasted.error('Se ha producido un error.');
          }

          this.pendingPassword = false;
        }).catch((err) => {
          this.$toasted.error('Se ha producido un error.');
          this.pendingPassword = false;
          console.log(err);
        });
      }

      return null;
    },
  },
  mounted() {
    const newPassword = document.getElementById('new-password');
    const newPasswordAgain = document.getElementById('new-password-again');

    function validatePassword() {
      if (newPassword.value !== newPasswordAgain.value) {
        newPasswordAgain.setCustomValidity('Las contraseñas no coinciden');
      } else {
        newPasswordAgain.setCustomValidity('');
      }
    }

    newPassword.onchange = validatePassword;
    newPasswordAgain.onkeyup = validatePassword;
  },
};
</script>

<style scoped>

@media(min-width: 768px) {
  .zq-input-label {
    text-align: right;
  }
}
.profile-icon {
  font-size: 35px;
  color: #16808D;
  display: inline-block;
}

.profile-title {
  display: inline-block;
}

</style>
