<template>
  <div class="foot">
    <div class="container-fluid main-footer">
      <div class="row">
        <div class="col-sm-12 text-center main-footer-inner">
          © Todos los derechos reservados 2017 Zequer. MKT y Diseño: <a href="https://www.crandi.com" target="_blank"><img src="../assets/crandi_logo.png" alt="Crandi Logo"></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'foot',
  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-footer {
  color: rgb(0, 111, 112);
  font-size: 75%;
  height: 45px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: 4px solid rgb(0, 111, 112);
}

.main-footer-inner {
  padding-top: 11px;
}
</style>
