<template>
  <div class="home">
    <section id="hero-unit">
      <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
          <div class="col-12 text-center pt-4 pb-4">
            <img class="img-responsive hidden-sm-down" src="../assets/question-exclamation.png" alt="Question & Exclamation marks" width="180px">
            <img class="img-responsive hidden-md-up mb-5" src="../assets/zequer-logo.png" alt="Zequer Logo" width="180px">
            <h1 id="hero-unit-title">Encontrá la <strong>seguridad ideal</strong> para tu propiedad.</h1>
            <h3 class="hidden-sm-down" id="hero-unit-description"><strong>Compará y cotizá online</strong> todas las empresas de seguridad para tu casa.</h3>
            <div class="hidden-md-up">
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div id="hero-buttons" class="row justify-content-center">
          <div class="col-md-6 mb-2 hidden-sm-down">
            <button class="btn btn-orange btn-lg btn-line hero-button" @click="openModal('authModal')">REGISTRARSE</button>
          </div>
          <div class="col-md-6 mb-2">
            <button class="btn btn-orange btn-lg hero-button" @click="goTo('create-location')">COMENZAR</button>
          </div>
          <div class="col-md-6 mb-2 hidden-md-up">
            <button class="btn btn-link text-default btn-lg hero-button insignificant" @click="openModal('authModal')">REGISTRARSE</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'home',
  data() {
    return {};
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    goTo(r) {
      this.$router.push(r);
    },
    openModal(name) {
      this.$root.$emit('show::modal', name);
    },
  },
  mounted() {
    this.$store.dispatch('initialize').then(() => {
      if (this.isLoggedIn) {
        this.$router.push('my-places');
      }
    });

    if (_.has(this.$route.query, 'auth')) {
      this.openModal('authModal');
    }

    this.$root.$on('auth::login', () => {
      if (this.$route.name === 'Home') {
        this.$router.push('my-places');
      }
    });
  },
};
</script>

<style scoped>
#hero-unit {
  background-image: url('../assets/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media(min-width: 768px) {
  #hero-buttons .col-md-6:first-child button {
    float: right;
  }

  #hero-buttons .col-md-6:nth-child(2) button {
    float: left;
  }
}

@media(max-width: 767px) {
  .hero-button {
    width: 100%;
  }
}

.hero-button {
  border-radius: 2px !important;
  min-width: 200px;
}

#hero-unit-title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 400;
}

#hero-unit-description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
</style>
