<template>
  <div class="container pt-5 my-places">
    <div class="row">
      <div class="col-sm-4 hidden-sm-down">
        <b-card class="shadow-2 text-left mb-3 title-card">
          <h5 class="m-0 text-white">Mi Lugar</h5>
        </b-card>
        <b-card class="shadow-2 text-left mb-3">
          <div class="row">
            <div class="col-12 text-center">
              <img width="100px" class="img-responsive mt-4 mb-2" src="../assets/my-places-person.png" alt="My Places">
              <h4 class="text-default mt-4 mb-0">¡Bienvenido a Mi Cuenta!</h4>
            </div>
            <div class="col-12">
              <hr class="mr-3 ml-3 bold-hr">
            </div>
            <div class="col-12 text-center">
              <p class="ml-3 mr-3">Selecciona un lugar para que puedas ver y editar las opciones.</p>
            </div>
          </div>
        </b-card>
      </div>
      <div class="col-sm-8" id="places-column">
        <span id="pending-indicator" class="fa fa-circle-o-notch fa-spin" v-show="pending"></span>
        <b-card class="shadow-2 mb-3 single-place-card" v-for="p in places" :key="p.id">
          <circle-percentage class="pull-left mr-3" :rating="p.security_rating" size="mini"></circle-percentage>
          <div class="pull-left single-place-desc">
            <h4 class="mt-0 mb-2 ellipsis">{{ p.name }}</h4>
            <p class="m-0 ellipsis">{{ p.address }}</p>
          </div>
          <router-link :to="'/places/' + getPlaceId(p)" class="btn btn-link text-primary btn-lg text-regular p-3">
            Ver
          </router-link>
        </b-card>
      </div>
    </div>

    <router-link class="btn btn-circle btn-orange shadow-2 text-center pt-3" id="add-place-button" to="create-location"><span class="fa fa-plus"></span></router-link>
  </div>
</template>

<script>
import CirclePercentage from './CirclePercentage';

export default {
  name: 'my-places',
  data() {
    return {
      places: [],
      pending: true,
    };
  },
  methods: {
    getPlaceId(p) {
      const pp = p.url.split('/api/places/');
      return pp[pp.length - 1];
    },
    getPlaces() {
      this.$http.get(`${process.env.ENID_URL}/places`).then((res) => {
        if (res && res.data) {
          this.places = res.data;
        }

        this.pending = false;
      }).catch(err => console.log(err));
    },
    getPos(el) {
      let lx = 0;
      while (el != null) {
        lx += el.offsetLeft;
        el = el.offsetParent;
      }

      return lx;
    },
    setAddPlaceButtonPosition() {
      const btn = document.getElementById('add-place-button');
      const col = document.getElementById('places-column');
      if (btn && col) {
        btn.style.left = `${(this.getPos(col) + col.offsetWidth) - 15}px`;
      }
    },
  },
  mounted() {
    this.getPlaces();
    this.setAddPlaceButtonPosition();
    window.onresize = () => {
      this.setAddPlaceButtonPosition();
    };
  },
  components: { CirclePercentage },
};
</script>

<style scoped>
#add-place-button {
  position: fixed;
  bottom: 15px;
  z-index: 1000;
  transform: translateX(-100%);
}

.title-card {
  background: #16808D;
}

.bold-hr {
  border-top: 2px solid #333;
}

.single-place-desc {
  width: calc(100% - 150px);
  text-align: left;
}

#pending-indicator {
  position: absolute;
  left: 49%;
  top: 48%;
  font-size: 150%;
}
</style>

<style>
.my-places .title-card .card-block {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
