<template>
  <div class="navb shadow-2">
    <nav id="sub-navbar" class="navbar navbar-toggleable-md navbar-dark bg-faded">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item m-0">
              <a class="nav-link pl-0" href="mailto:info@zequer.com">info@zequer.com</a>
            </li>
            <li class="nav-item m-0">
              <a class="nav-link pr-0 pl-0" href="#">|</a>
            </li>
            <li class="nav-item ml-0" :class="{ active: $route.path === '/contacto' }">
              <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-facebook"></span></a>
          </li>
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-twitter"></span></a>
          </li>
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-instagram"></span></a>
          </li>
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-google-plus"></span></a>
          </li>
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-pinterest"></span></a>
          </li>
          <li class="nav-item m-0">
            <a href="#" class="nav-link"><span class="fa fa-youtube-play"></span></a>
          </li>
        </ul>
      </div>
    </nav>

    <b-navbar class="pt-0 pb-0" id="main-navbar" toggleable toggle-breakpoint="md" type="light" variant="light">
      <div class="container">
        <b-nav-toggle position="left" target="nav_collapse_1"></b-nav-toggle>

        <router-link :to="isLoggedIn ? '/my-places' : '/'" v-if="brandVisible" class="navbar-brand">
          <img src="../assets/zequer-logo.png" alt="Zequer Logo">
        </router-link>

        <b-dropdown v-if="false" class="pull-right" right id="cog-dropdown">
          <template slot="text">
            <span class="fa fa-cog"></span>
          </template>

          <router-link :to="link.url" class="dropdown-item" v-for="link in publicLinks" :key="link.name">
            {{ link.name }}
          </router-link>
        </b-dropdown>

        <b-collapse is-nav id="nav_collapse_1">
        <!-- <b-nav is-nav-bar>
        </b-nav> -->
          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item :class="{ active: $route.path === link.url }" v-for="link in publicLinks" :key="link.name" :href="link.url">{{ link.name }}</b-nav-item>
            <li v-if="!isLoggedIn" class="nav-item">
              <b-btn v-b-modal.authModal class="btn btn-primary btn-block auth-button"><span class="fa fa-sign-in"></span>&nbsp;INICIA SESIÓN</b-btn>
            </li>
            <b-nav-item v-if="isLoggedIn" href="/edit-profile"><span class="fa fa-user-circle"></span></b-nav-item>
          </b-nav>
        </b-collapse>

        <b-dropdown v-if="isLoggedIn" class="pull-right" right id="ellipsis-dropdown">
          <template slot="text">
            <span class="fa fa-ellipsis-v text-primary"></span>
          </template>
          <b-dropdown-item href="/edit-profile">
            <span class="fa fa-pencil-square-o"></span>&nbsp;Editar Perfil
          </b-dropdown-item>
          <b-dropdown-item href="/my-places">
            <span class="fa fa-map-o"></span>&nbsp;My Places
          </b-dropdown-item>
          <a href="#" v-on:click.stop.prevent="logout()" class="dropdown-item">
            <span class="fa fa-sign-out"></span>&nbsp;Cerrar sesión
          </a>
        </b-dropdown>
      </div>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'navb',
  data() {
    return {
      publicLinks: [
        {
          name: 'SOBRE ZEQUER',
          url: '/sobre',
        },
        {
          name: 'OPORTUNIDADES',
          url: '/oportunidades',
        },
      ],
      brandVisible: false,
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    logout() {
      this.$store.commit('logout');
      this.$router.push('/');
    },
    setBrandVisibility() {
      this.brandVisible = window.innerWidth > 767 || this.$route.name !== 'Home';
    },
  },
  mounted() {
    this.setBrandVisibility();

    window.onresize = () => {
      this.setBrandVisibility();
    };
  },
  watch: {
    $route() {
      this.setBrandVisibility();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navb {
  position: relative;
  z-index: 100;
}

.dropdown-item.active, .dropdown-item:active {
  color: #424242;
  text-decoration: none;
  background-color: initial;
}

.dropdown-item:focus {
  background-color: initial;
}

.dropdown-item:hover, .dropdown-item.active:hover {
  background-color: #f7f7f9;
}

.navbar {
  z-index: 100;
}

#sub-navbar {
  background: #16808D;
  height: 35px;
  font-size: 90%;
}

.auth-button {
  font-weight: 400;
  font-size: 14px;
}

#cog-dropdown {
  display: none;
}

#cog-dropdown button {
  background: none;
  font-size: 25px;
  padding: 17px 8px;
  color: rgb(0, 111, 112);
}

#cog-dropdown .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}

#cog-dropdown .dropdown-toggle::after {
  display: none;
}

#sub-navbar a {
  color: #fff;
}

#main-navbar {
  background: #D9E9ED;
  height: 75px;
}

#main-navbar .nav-item {
  background: #D9E9ED;
}

#main-navbar a {
  color: rgb(0, 111, 112) !important;
}

#main-navbar .dropdown-menu {
  margin: -.3rem 0 0;
}

#main-navbar a.dropdown-item {
  color: #424242 !important;
}

.navbar-nav .nav-item a .fa.fa-user-circle {
  font-size: 25px;
}

#main-navbar .container ul .nav-item .nav-link {
  padding: 25px 8px !important;
}

#main-navbar .container .logged-in-menu ul .nav-item .nav-link {
  padding: 19px 8px !important;
}

#main-navbar .logged-in-menu a {
  color: #424242 !important;
  font-size: 25px;
}

#ellipsis-dropdown button {
  background: none;
  font-size: 25px;
  padding: 17px 8px;
  padding: 22px 8px 22px 20px;
}

#ellipsis-dropdown button::after {
  display: none;
}

@media(max-width: 991px) {
  #ellipsis-dropdown {
    position: absolute;
    top: -3px;
    right: 20px;
  }

  .navbar-collapse .navbar-nav .nav-item:last-child a, .navbar-collapse .navbar-nav .nav-item:last-child button {
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3) !important;
  }
}

#main-navbar .container, #main-navbar .container .navbar-collapse, #main-navbar .container ul {
  height: 100%;
}

#main-navbar .container ul .nav-item.active {
  border-bottom: 3px solid rgb(0, 111, 112);
}

#main-navbar .container ul .btn {
  margin: 20px 0;
}

.navbar-brand img {
  height:  55px;
}

#main-navbar li {
  margin: 0 10px;
}

@media(max-width: 991px) {
  #sub-navbar {
    display: none;
  }

  #main-navbar {
    height: 65px;
  }

  #main-navbar .navbar-toggler {
    padding: 17px 8px !important;
  }

  #main-navbar .container {
    margin: 0;
    width: 100%;
  }

  #main-navbar .navbar-collapse {
    margin-left: -25px;
    width: calc(100vw + 10px);
  }

  #main-navbar .nav-item {
    margin: 0;
  }

  #main-navbar .container ul .btn {
    margin: 0;
    padding: 25px 0;
  }

  #cog-dropdown {
    display: block;
  }

  #main-navbar .navbar-brand, #main-navbar .navbar-nav {
    margin: 0 !important;
  }

  #main-navbar .navbar-nav {
    width: 100%;
  }
}
</style>
