<template>
  <div class="oportunidades">
    <h2 class="mt-2">Oportunidades View</h2>
  </div>
</template>

<script>
export default {
  name: 'oportunidades',
  data() {
    return {};
  },
};
</script>

<style scoped>
</style>
