<template>
  <b-modal ref="providersInitModal" id="providersInitModal" hide-footer title="Proveedores">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-10">
        <form @submit.stop.prevent="accept">
          <h4 class="text-regular">Selecciona los proveedores con los que quisieras contactar.</h4>
          <div class="form-group mt-5 mb-5">
            <button type="submit" class="btn btn-lg btn-orange btn-round-mini btn-block shadow-2">ACEPTAR</button>
          </div>
        </form>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'providersInitModal',
  data() {
    return {};
  },
  methods: {
    accept() {
      this.$refs.providersInitModal.hide();
    },
  },
};
</script>

<style>
.modal .modal-header {
  background: #16808D;
  color: #fff;
}

.modal .modal-header button {
  color: #fff;
  opacity: 1;
}

.modal .modal-header .modal-title, .modal-header .close {
  font-weight: 400;
}
</style>
