<template>
  <b-modal ref="saveLocationModal" id="saveLocationModal" hide-footer v-bind:hide-header="securityLevelDisplay" title="Guardar Proceso">
    <div v-if="securityLevelDisplay" class="security-level-display">
      <h4 class="mt-4 mb-4">Nivel de seguridad</h4>
      <div class="row">
        <div class="col-sm-12 mt-1 mb-4">
          <circle-percentage size="medium" :rating="securityrating" :fractional=true></circle-percentage>
        </div>
        <div class="col-sm-12 mt-1 mb-4">
          <h5 :class="colorClass">{{ riskLabel }}</h5>
        </div>
      </div>
      <div class="row justify-content-center mt-1 mb-3">
        <div v-if="false" class="col-sm-6 col-md-5">
          <button class="btn btn-orange btn-round-mini btn-lg btn-block answer-btn shadow-2 mb-2" v-on:click="hideModal()">REGRESA</button>
        </div>
        <div class="col-sm-6 col-md-5">
          <button class="btn btn-orange btn-round-mini btn-lg btn-block answer-btn shadow-2 mb-2" v-on:click="securityLevelDisplaySave">CONTINUAR</button>
        </div>
      </div>
      <div class="row" v-if="false">
        <!-- this part is removed -->
        <div class="col-sm-12 mt-3 mb-2">
          <a class="text-default insignificant" href="#" @click.stop.prevent="continueWithoutSaveClick">CONTINUAR <strong>SIN GUARDAR</strong></a>
        </div>
      </div>
    </div>

    <div v-if="!securityLevelDisplay" class="row justify-content-center mt-5">
      <div class="col-sm-8">
        <form @submit.stop.prevent="saveAndContinue">
          <div class="form-group">
            <input type="text" class="form-control" v-model="newName" placeholder="Nombre del lugar" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" v-model="newAddress" placeholder="Direçción" required>
          </div>
          <div class="form-group mt-5 mb-5">
            <button type="submit" class="btn btn-lg btn-orange btn-round-mini btn-block shadow-2" :disabled="pending">GUARDAR Y CONTINUAR</button>
          </div>
        </form>
      </div>
    </div>
  </b-modal>
</template>

<script>
import CirclePercentage from './CirclePercentage';

export default {
  name: 'saveLocationModal',
  props: ['options', 'securityrating'],
  data() {
    return {
      // securityLevelDisplay: false,
      securityLevelDisplay: true,
      pending: false,
      newName: '',
      newAddress: '',
      continueWithoutSave: false,
    };
  },
  methods: {
    securityLevelDisplaySave() {
      // editing an address
      if (this.isEditingAPlace) {
        this.pending = true;
        this.$http.patch(`${process.env.ENID_URL}/places/${this.$route.query.placeId}`, {
          options: this.options,
        }).then((res) => {
          this.pending = false;
          if (res && res.status === 200) {
            this.$refs.saveLocationModal.hide();
            this.$router.push({
              path: `/places/${this.$route.query.placeId}`,
            });
          }
        }).catch(err => console.log(err));
      } else {
        this.securityLevelDisplay = false;
      }
    },
    continueWithoutSaveClick() {
      if (this.isEditingAPlace) {
        this.$refs.saveLocationModal.hide();
        this.$router.push({
          path: `/places/${this.$route.query.placeId}`,
        });
      } else {
        this.continueWithoutSave = true;
        this.securityLevelDisplay = false;
      }
    },
    createNewPlace() {
      this.pending = true;
      this.$http.post(`${process.env.ENID_URL}/places/`, {
        name: this.newName,
        address: this.newAddress,
        options: this.options,
      }).then((res) => {
        this.pending = false;
        if (res && res.status === 201) {
          this.newName = '';
          this.newAddress = '';

          if (this.$refs.saveLocationModal) {
            this.$refs.saveLocationModal.hide();
          }

          const p = res.data.url.split('/api/places/');
          this.$router.push({
            path: `/places/${p[p.length - 1]}`,
          });
        }
      }).catch(err => console.log(err));
    },
    saveAndContinue() {
      // can't be editing a place
      if (this.continueWithoutSave) {
        this.$refs.saveLocationModal.hide();
        this.$router.push({
          path: `/places/local`,
        });
      } else if (this.isLoggedIn) {
        this.createNewPlace();
      } else {
        this.$root.$on('auth::login', () => {
          if (!this.securityLevelDisplay && !this.continueWithoutSave && this.newName && this.newAddress) {
            this.createNewPlace();
          }
        });

        this.$root.$emit('show::modal', 'authModal');
        this.$refs.saveLocationModal.hide();
      }
    },
    hideModal() {
      this.$root.$emit('hide::modal', 'saveLocationModal');
    },
    getPercent(r) {
      const minrating = this.minRating ? this.minRating : 2;
      const maxrating = this.maxRating ? this.maxRating : 1250;

      let p = Math.round((100 * (r - minrating)) / (maxrating - minrating));
      if (p < 0) { p = 0; }
      if (p > 100) { p = 100; }
      return p;
    },
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    isEditingAPlace() {
      return !!this.$route.query.placeId;
    },
    riskLabel() {
      if (this.securityrating <= 250) {
        return 'RIESGO BAJO';
      }

      if (this.securityrating <= 500) {
        return 'RIESGO MODERADO';
      }

      if (this.securityrating <= 750) {
        return 'RIESGO ELEVADO';
      }

      if (this.securityrating <= 1000) {
        return 'RIESGO MUY ELEVADO';
      }

      if (this.securityrating <= 1250) {
        return 'RIESGO CRÍTICO';
      }

      return 'N/A';
    },
    colorClass() {
      if (this.securityrating <= 250) {
        return 'green';
      }

      if (this.securityrating <= 500) {
        return 'yellow';
      }

      if (this.securityrating <= 750) {
        return 'orange';
      }

      if (this.securityrating <= 1000) {
        return 'red';
      }

      if (this.securityrating <= 1250) {
        return 'red';
      }

      return 'gray';
    },
  },
  components: { CirclePercentage },
  watch: {
    newName() {
      this.$localStorage.set('createLocationName', this.newName);
    },
    newAddress() {
      this.$localStorage.set('createLocationAddress', this.newAddress);
    },
  },
  mounted() {
    this.$localStorage.set('createLocationName', '');
    this.$localStorage.set('createLocationAddress', '');
  },
};
</script>

<style>
#saveLocationModal input.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 4px solid rgb(188, 187, 181);
}

#saveLocationModal .modal-header {
  background: #16808D;
  color: #fff;
}

#saveLocationModal .modal-header button {
  color: #fff;
  opacity: 1;
}

#saveLocationModal .modal-header .modal-title, #saveLocationModal .modal-header .close {
  font-weight: 400;
}

.green {
  color: #4db53c;
}
.red {
  color: #CE0000;
}
.yellow {
  color: #EFD90A;
}
.orange {
  color: #e08833;
}
</style>
