<template>
  <div class="single-place-container container pt-3">
    <div class="row">
      <div class="col-md-4">
        <b-card class="shadow-2 text-left mb-3">
          <div class="row">
            <div class="col-12">
              <p class="text-primary">&#9679;&nbsp;Estás evaluando esta propiedad</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3 class="location-name pull-left" v-show="!editMode">{{ place.name }}</h3>
              <input class="form-control location-input location-name h3 p-0 pull-left" v-show="editMode" type="text" v-model="place.name">
              <div class="pull-right pt-1">
                <a href="#" class="text-orange" v-show="!editMode" @click.stop.prevent="editMode = true">EDITAR</a>&nbsp;
                <a href="#" class="text-success" v-show="editMode" @click.stop.prevent="editMode = false; updatePlaceRealTime()">DONE</a>&nbsp;
                <a href="#" class="text-default barely-visible"><span class="fa fa-trash"></span></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6 v-show="!editMode" class="text-regular">{{ place.address }}</h6>
              <input class="form-control location-input location-address h6 p-0" v-show="editMode" type="text" v-model="place.address">
            </div>
          </div>
          <div class="row mt-3 hidden-sm-down"></div>
          <div class="row mt-3">
            <div class="col-5 col-sm-5 col-md-12 mb-1">
              <circle-percentage class="hidden-sm-down" :rating="place.security_rating" size="medium"></circle-percentage>
              <circle-percentage class="hidden-md-up" :rating="place.security_rating" size="mini"></circle-percentage>
              <h6 class="hidden-md-up text-center mt-3 small" :class="getColorClass(place.security_rating)">{{ getRiskLabel(place.security_rating) }}</h6>
            </div>
            <div class="col-12 mt-4 text-center hidden-sm-down">
              <h5 :class="getColorClass(place.security_rating)">{{ getRiskLabel(place.security_rating) }}</h5>
            </div>
            <div class="col-7 col-sm-7 col-md-12 mt-3 mb-3 text-center">
              <div class="row">
                <div class="col-6 border-right costs-div">
                  <h4 class="mb-0 mt-2">${{ oldCosts.initial }}</h4>
                  <h4 class="text-regular m-0">INICIAL</h4>
                </div>
                <div class="col-6 costs-div">
                  <h4 class="mb-0 mt-2">${{ oldCosts.monthly }}</h4>
                  <h4 class="text-regular m-0">MENSUAL</h4>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3 hidden-sm-down"></div>
            <div class="col-12 mt-3 mb-3 text-center">
              <router-link class="btn btn-orange btn-round-mini shadow-2" :to="'/create-location?placeId=' + $route.params.id">
                EDITAR RESPUESTAS
              </router-link>
            </div>
          </div>
        </b-card>
      </div>
      <div class="col-md-8">
        <b-card class="shadow-2">
          <div class="row live-percentage-display">
            <div class="col-6">
              <circle-percentage class="pull-left mr-3 hidden-sm-down" size="small" :rating="liveRating" :pending="liveRatingPending"></circle-percentage>
              <circle-percentage class="pull-left mr-3 hidden-md-up" size="mini" :textonly=true :rating="liveRating" :pending="liveRatingPending"></circle-percentage>
              <div class="progress mt-4">
                <div class="progress-bar" :class="getColorClass(liveRating)" role="progressbar" :style="'width:' + getPercent(liveRating) + '%'" :aria-valuenow="getPercent(liveRating)" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 :class="getColorClass(liveRating)" class="text-left mt-2">{{ getRiskLabel(liveRating) }}</h6>
            </div>
            <div class="col-3 border-both costs-div">
              <h4 class="mb-0 mt-2">${{ costs.initial }}</h4>
              <h4 class="text-regular m-0">INICIAL</h4>
            </div>
            <div class="col-3 costs-div">
              <h4 class="mb-0 mt-2">${{ costs.monthly }}</h4>
              <h4 class="text-regular m-0">MENSUAL</h4>
            </div>
          </div>
          <div class="col-12 border-top hidden-sm-down mb-3"></div>
          <div class="row mb-3 justify-content-center">
            <div class="col-5 text-bold" :class="{ 'barely-visible': activeTab !== 'solutions' }"><span class="text-default">Soluciones</span></div>
            <div class="col-1"><span class="fa fa-chevron-right"></span></div>
            <div class="col-5 text-bold" :class="{ 'barely-visible': activeTab !== 'providers' }"><span class="text-default">Proveedores</span></div>
          </div>

          <div class="row" v-if="activeTab === 'solutions'">
            <div class="col-12 text-left components-wrapper">
              <Solution v-for="comp in components" :component="comp" :parent=null :level=0 :key="comp.url"></Solution>
            </div>
          </div>

          <div class="row" v-if="activeTab === 'providers'">
            <div class="col-12 text-left components-wrapper">
              <div class="row" v-for="prod in productsAndServices" v-if="shouldShowProduct(prod.code)" :key="prod.url">
                <div class="col-12">
                  <div class="border-left-primary">
                    <strong>{{ prod.name }}</strong>
                    <div class="checkbox-right-menu pull-right barely-visible" style="padding-top: 2px;">
                      <a class="text-default" href="#"><span class="fa fa-info-circle show-sub-info-circle"></span></a>&nbsp;
                      <a class="text-default" v-on:click.stop.prevent="prod.subVisible = true" href="#" v-if="prod.vendors && prod.vendors.length && !prod.subVisible"><span class="fa fa-chevron-right"></span></a>
                      <a class="text-default" v-on:click.stop.prevent="prod.subVisible = false" href="#" v-if="prod.vendors && prod.vendors.length && prod.subVisible"><span class="fa fa-chevron-down"></span></a>
                    </div>
                  </div>
                </div>

                <div v-if="prod.vendors && prod.vendors.length && prod.subVisible" v-for="(sub, subIndex) in prod.vendors" class="col-12">
                  <div class="provider-sub-wrapper" :class="{ 'last': subIndex == prod.vendors.length - 1 }">
                    <div class="form-check main-checkbox-form m-0" style="width: calc(100% - 330px);">
                      <label class="form-check-label pt-1">
                        <input class="form-check-input custom-checkbox" type="checkbox" v-model="selectedCodes[prod.code]" @change="providerToggle" :value="sub.url">
                        <span>{{ sub.name }}</span>
                      </label>
                    </div>
                    <div class="checkbox-right-menu pull-right checkbox-cost-label-wrapper" style="padding-top: 4px;">
                      <div class="pull-left text-right checkbox-cost-label"><span><strong>I<span class="hidden-sm-down">nicial</span>:</strong> ${{ sub.price.initial ? parseInt(sub.price.initial, 10).toFixed(0) : 0 }}</span></div>
                      <div class="pull-left text-center" style="width: 15px;">|</div>
                      <div class="pull-left text-left checkbox-cost-label"><span><strong>M<span class="hidden-sm-down">ensual</span>:</strong> ${{ sub.price.monthly ? parseInt(sub.price.monthly, 10).toFixed(0) : 0 }}</span></div>
                      <div class="pull-left text-right" style="width: 55px; padding-right: 24px;">
                        <a class="text-default barely-visible" href="#"><span class="fa fa-info-circle show-sub-info-circle"></span></a>&nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </b-card>

        <div id="bottom-buttons" class="justify-content-center">
          <button v-if="false && activeTab === 'solutions'" id="save-and-continue-button" class="btn btn-orange btn-round-mini btn-lg shadow-2 pull-right" @click="saveAndContinue" :disabled="savePending">GUARDAR Y CONTINUAR</button>
          <button v-if="activeTab === 'solutions'" class="btn btn-orange btn-round-mini btn-lg shadow-2 pull-right" @click="continueToProviders" :disabled="resetPending">CONTINUAR</button>
          <button v-if="activeTab === 'solutions'" class="btn btn-orange btn-round-mini btn-lg shadow-2 pull-right" @click="resetToInitial" :disabled="resetPending">REINICIAR</button>
          <button v-if="activeTab === 'providers'" class="btn btn-orange btn-round-mini btn-lg shadow-2 pull-right" @click="requestQuote" :disabled="quoteRequestPending">Solicitar presupuesto</button>
          <button v-if="activeTab === 'providers'" class="btn btn-orange btn-round-mini btn-lg shadow-2 pull-right" @click="activeTab = 'solutions'" :disabled="quoteRequestPending">Regresa</button>
        </div>
      </div>
    </div>

    <b-modal ref="placeSavedModal" id="placeSavedModal" hide-header hide-footer>
      <h1 class="text-primary mt-4 mb-4"><span class="fa fa-check"></span></h1>
      <h4 class="mb-5">Tus cambios han sido guardados correctamente.</h4>
      <button class="btn btn-orange btn-lg btn-round-mini shadow-2 mb-4" @click="continueToProviders">CONTINUAR</button>
    </b-modal>

    <b-modal ref="quoteRequestedModal" id="quoteRequestedModal" hide-header hide-footer>
      <img class="img-responsive mt-5 mb-5" width="120px" src="../assets/quote-requested-logo.png" alt="Request Quote">
      <h4 class="mb-5">Los proveedores seleccionados fueron contactados y se comunicarán a la brevedad.</h4>
      <router-link class="btn btn-orange btn-lg btn-round-mini shadow-2 mb-2" to="/create-location">COMENZAR OTRA LOCACIÓN</router-link><br>
      <button class="btn btn-link text-default btn-lg mb-4 insignificant" @click="closeModal('quoteRequestedModal')">REGRESAR</button>
    </b-modal>

    <solutions-init-modal></solutions-init-modal>
    <providers-init-modal></providers-init-modal>
  </div>
</template>

<script>
import _ from 'lodash';
import CirclePercentage from './CirclePercentage';
import SolutionsInitModal from './SolutionsInitModal';
import ProvidersInitModal from './ProvidersInitModal';
import Solution from './Solution';

export default {
  name: 'single-place',
  components: { CirclePercentage, Solution, SolutionsInitModal, ProvidersInitModal },
  data() {
    return {
      activeTab: 'solutions',
      editMode: false,
      minrating: 2,
      maxrating: 1250,
      components: [],
      rawComponents: [],
      options: [],
      selectedCodes: {}, // keys are the codes, values are the array of selected providers
      productsAndServices: [],
      place: {
        name: '...',
        address: '...',
        security_rating: -1,
      },
      initialPlace: {},
      oldCosts: {
        initial: 0,
        monthly: 0,
      },
      liveRating: -1,
      liveRatingPending: false,
      savePending: false,
      resetPending: false,
      quoteRequestPending: false,
      costs: {
        initial: 0,
        monthly: 0,
      },
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  methods: {
    closeModal(modalId) {
      this.$refs[modalId].hide();
    },
    providerToggle() {
      this.calculateCosts();
    },
    calculateCosts() {
      const costs = {
        initial: 0,
        monthly: 0,
      };

      this.productsAndServices.forEach((ps) => {
        if (ps.code && _.has(this.selectedCodes, ps.code) && this.selectedCodes[ps.code].length > 0) {
          const temp = {
            initial: 0,
            monthly: 0,
          };

          let cnt = 0;
          ps.vendors.forEach((prov) => {
            if (this.selectedCodes[ps.code].indexOf(prov.url) > -1) {
              cnt += 1;
              if (prov.price.initial) {
                temp.initial += parseInt(prov.price.initial, 10);
              }

              if (prov.price.monthly) {
                temp.monthly += parseInt(prov.price.monthly, 10);
              }
            }
          });

          costs.initial += temp.initial / cnt;
          costs.monthly += temp.monthly / cnt;
        }
      });

      this.costs = {
        initial: costs.initial.toFixed(0),
        monthly: costs.monthly.toFixed(0),
      };
    },
    shouldShowProduct(prodCode) {
      return Object.keys(this.selectedCodes).indexOf(prodCode) > -1;
    },
    getPercent(r) {
      let p = Math.round((100 * (r - this.minrating)) / (this.maxrating - this.minrating));
      if (p < 0) { p = -1; }
      if (p > 100) { p = 100; }
      return p;
    },
    getRiskLabel(r) {
      if (r <= 250) {
        return 'RIESGO BAJO';
      }

      if (r <= 500) {
        return 'RIESGO MODERADO';
      }

      if (r <= 750) {
        return 'RIESGO ELEVADO';
      }

      if (r <= 1000) {
        return 'RIESGO MUY ELEVADO';
      }

      if (r <= 1250) {
        return 'RIESGO CRÍTICO';
      }

      return 'N/A';
    },
    getColorClass(r) {
      if (r <= 250) {
        return 'green';
      }

      if (r <= 500) {
        return 'yellow';
      }

      if (r <= 750) {
        return 'orange';
      }

      if (r <= 1000) {
        return 'red';
      }

      if (r <= 1250) {
        return 'red';
      }

      return 'gray';
    },
    fillWithAllProviders(code) {
      this.selectedCodes[code] = [];
      const psi = _.findIndex(this.productsAndServices, ps => ps.code === code);
      if (psi > -1 && this.productsAndServices[psi].vendors) {
        this.productsAndServices[psi].vendors.forEach((prv) => {
          this.selectedCodes[code].push(prv.url);
        });
      }
    },
    saveAndContinue() {
      if (!this.isLoggedIn) {
        this.$root.$emit('show::modal', 'authModal');
        this.$root.$on('auth::login', () => {
          this.continue();
        });
      } else {
        this.continue();
      }
    },
    continue() {
      if (this.$route.params.id === 'local') {
        this.createPlace();
      } else {
        this.updatePlace();
      }
    },
    resetToInitial() {
      this.resetPending = true;
      this.$http.patch(`${process.env.ENID_URL}/places/${this.$route.params.id}/`, {
        options: this.initialPlace.options,
        name: this.initialPlace.name,
        address: this.initialPlace.address,
      }).then((res) => {
        this.resetPending = false;
        if (res && res.status === 200) {
          this.$router.go(this.$router.currentRoute);
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
      }).catch((err) => {
        this.resetPending = false;
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    },
    createPlace() {
      this.savePending = true;
      this.$http.post(`${process.env.ENID_URL}/places`, {
        options: this.options,
        name: this.place.name,
        address: this.place.address,
      }).then((res) => {
        this.savePending = false;
        if (res && res.status === 200) {
          this.$router.push({
            path: `/places/${res.data.id}`,
          });

          this.continueToProviders();
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
      }).catch((err) => {
        this.savePending = false;
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    },
    updatePlaceRealTime() {},
    updatePlace() {
      this.savePending = true;
      this.$http.patch(`${process.env.ENID_URL}/places/${this.$route.params.id}/`, {
        options: this.options,
        name: this.place.name,
        address: this.place.address,
      }).then((res) => {
        this.savePending = false;
        if (res && res.status === 200) {
          this.continueToProviders();
        } else {
          this.$toasted.error('Se ha producido un error.');
        }
      }).catch((err) => {
        this.savePending = false;
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    },
    continueToProviders() {
      this.updateOldValues();
      this.activeTab = 'providers';
      if (!this.$localStorage.get('providersInitModalShown')) {
        this.$root.$emit('show::modal', 'providersInitModal');
        this.$localStorage.set('providersInitModalShown', true);
      }
    },
    updateOldValues() {
      this.oldCosts = this.costs;
      this.place.security_rating = this.liveRating;
    },
    requestQuote() {
      this.quoteRequestPending = true;
      const body = [];
      _.forEach(this.selectedCodes, (v, k) => {
        const ii = _.findIndex(this.productsAndServices, ps => ps.code === k);

        if (ii > -1 && v && v.length > 0) {
          const relatedPS = this.productsAndServices[ii];
          v.forEach((companyUrl) => {
            const ci = _.findIndex(relatedPS.vendors, vn => vn.url === companyUrl);
            if (ci > -1) {
              const relatedCompany = relatedPS.vendors[ci];

              const bi = _.findIndex(body, cc => cc.company_name === relatedCompany.name);
              if (bi > -1) {
                body[bi].ps.push({
                  name: relatedPS.name,
                  code: k,
                });
              } else {
                body.push({
                  company_name: relatedCompany.name,
                  company_email: relatedCompany.email,
                  ps: [{
                    name: relatedPS.name,
                    code: k,
                  }],
                });
              }
            }
          });
        }
      });

      this.$http.post(`${process.env.ENID_URL}/places/${this.$route.params.id}/request-quotes/`, body).then((res) => {
        if (res && res.status === 201) {
          this.$refs.quoteRequestedModal.show();
        }

        this.quoteRequestPending = false;
      }).catch((err) => {
        this.quoteRequestPending = false;
        console.log(err);
      });
    },
    updateLiveRating() {},
    getPlaceData() {
      return (entity) => {
        if (!this.$route.params.id) {
          this.$router.push('/');
          return entity;
        }

        if (this.$route.params.id === 'local') {
          this.place.name = this.$localStorage.get('createLocationName');
          this.place.address = this.$localStorage.get('createLocationAddress');
          this.place.security_rating = parseInt(this.$localStorage.get('createLocationSecurityRating'), 10);
          this.options = this.$localStorage.get('createLocationOptions') ? this.$localStorage.get('createLocationOptions').split(',') : [];
          this.liveRating = this.place.security_rating;
          return entity;
        }

        return this.$http.get(`${process.env.ENID_URL}/places/${this.$route.params.id}/`).then((res) => {
          if (res && res.data) {
            this.initialPlace = _.cloneDeep(res.data);
            this.place = res.data;
            this.options = res.data.options;
            this.liveRating = res.data.security_rating;
          }

          return entity;
        }).catch(err => console.log(err));
      };
    },
    populateChildren({ comp, rawComponents, options }) { // populate a component's children, recursively
      comp.subVisible = false;
      comp.children = [];
      comp.selected = false;

      if (comp.options) {
        comp.options.forEach((op) => {
          const isNo = op.name.toLowerCase() === 'no';
          if (comp.polar && !isNo) {
            comp.fulfillingOption = op.url;

            // decide if it is checked or not
            if (options.indexOf(comp.fulfillingOption) > -1) {
              comp.selected = true;
              comp.subVisible = true;

              if (op.ps_code) {
                this.fillWithAllProviders(op.ps_code);
              }
            } else {
              const ni = _.findIndex(comp.options, o => o.name.toLowerCase() === 'no');
              if (ni > -1 && comp.options[ni].code) {
                this.fillWithAllProviders(comp.options[ni].code);
              }
            }
          } else if (!comp.polar && options.indexOf(op.url) > -1) {
            comp.selected = op.url;
            comp.subVisible = true;

            if (op.ps_code) {
              this.fillWithAllProviders(op.ps_code);
            }
          }


          if (op.attributes && op.attributes.length) {
            op.attributes.forEach((att) => { // urls of the child components
              const ci = _.findIndex(rawComponents, ac => ac.url === att);
              if (ci > -1) {
                const child = this.populateChildren({
                  comp: rawComponents[ci],
                  rawComponents,
                  options,
                });

                comp.children.push(child);
              }
            });
          }
        });
      }

      return comp;
    },
    getProductOrServices(item) {
      return ps => this.$http.get(`${process.env.PANOPLIC_URL}/${item}/?format=json`)
        .then((res) => {
          if (res && res.data) {
            ps = ps.concat(res.data);
          }

          return ps;
        })
        .catch((err) => {
          console.log(err);
          return ps;
        });
    },
  },
  mounted() {
    // show solutions intro modal if not shown before
    if (!this.$localStorage.get('solutionsInitModalShown')) {
      this.$root.$emit('show::modal', 'solutionsInitModal');
      this.$localStorage.set('solutionsInitModalShown', true);
    }

    Promise.resolve([])
    .then(this.getPlaceData())
    .then(this.getProductOrServices('products'))
    .then(this.getProductOrServices('services'))
    .then((ps) => {
      this.productsAndServices = ps.map((p) => {
        p.subVisible = true;
        return p;
      });

      // set components
      this.$http.get(`${process.env.ENID_URL}/components/`).then((res) => {
        const rawComponents = _.filter(res.data, c => c.is_mitigation_measure);

        // merging "parent" & "depends_on" fields, prioritizing "parent"
        rawComponents.forEach((rc) => {
          if (!rc.parent && rc.depends_on) {
            rc.parent = rc.depends_on;
          }
        });

        this.rawComponents = _.cloneDeep(rawComponents);
        const mainComponents = _.filter(rawComponents, c => !c.parent);

        this.components = mainComponents.map(mc => this.populateChildren({
          comp: mc,
          rawComponents,
          options: this.options,
        }));

        this.calculateCosts();
        this.oldCosts = this.costs;
      }).catch(err => console.log(err));
    })
    .catch(err => console.log(err));

    // setting debounced method for updating live rating
    this.updateLiveRating = _.debounce(() => {
      this.$http.post(`${process.env.ENID_URL}/places/calculate_security_rating/`, { options: this.options }).then((res) => {
        this.liveRatingPending = false;

        if (res && res.data) {
          this.liveRating = res.data.security_rating;
        }
      }).catch(err => console.log(err));
    }, 200, { maxWait: 1000 });

    this.updatePlaceRealTime = _.debounce(() => {
      this.$http.patch(`${process.env.ENID_URL}/places/${this.$route.params.id}/`, {
        options: this.options,
        name: this.place.name,
        address: this.place.address,
      }).then((res) => {
        this.liveRatingPending = false;

        if (res && res.data) {
          this.liveRating = res.data.security_rating;
        }
      }).catch((err) => {
        this.$toasted.error('Se ha producido un error.');
        console.log(err);
      });
    }, 200, { maxWait: 1000 });

    // a solution is toggled, modify this.options and this.selectedCodes
    this.$root.$on('solution toggle', (data) => {
      const ci = _.findIndex(this.rawComponents, c => c.url === data.url);
      if (ci > -1) {
        const comp = this.rawComponents[ci];
        if (comp.polar) {
          comp.options.forEach((op) => {
            const isNo = op.name.toLowerCase() === 'no';
            if (!isNo) {
              if (data.value) {
                const yi = this.options.indexOf(op.url);
                if (yi === -1) {
                  this.options.push(op.url);
                }

                if (op.ps_code) {
                  this.fillWithAllProviders(op.ps_code);
                }
              } else {
                const yi = this.options.indexOf(op.url);
                if (yi > -1) {
                  this.options.splice(yi, 1);
                }

                if (op.ps_code) {
                  delete this.selectedCodes[op.ps_code];
                }
              }
            } else if (!data.value) {
              const yi = this.options.indexOf(op.url);
              if (yi === -1) {
                this.options.push(op.url);
              }

              if (op.ps_code) {
                this.fillWithAllProviders(op.ps_code);
              }
            } else {
              const yi = this.options.indexOf(op.url);
              if (yi > -1) {
                this.options.splice(yi, 1);
              }

              if (op.ps_code) {
                delete this.selectedCodes[op.ps_code];
              }
            }
          });
        } else { // not polar, a radio button
          comp.options.forEach((op) => {
            if (op.url === data.value) {
              this.options.push(op.url);

              if (op.ps_code) {
                this.fillWithAllProviders(op.ps_code);
              }
            } else {
              const yi = this.options.indexOf(op.url);
              if (yi > -1) {
                this.options.splice(yi, 1);
              }

              if (op.ps_code) {
                delete this.selectedCodes[op.ps_code];
              }
            }
          });
        }

        this.liveRatingPending = true;
        // this.updateLiveRating();
        this.updatePlaceRealTime();
        this.calculateCosts();
      }
    });
  },
};
</script>

<style>
.components-wrapper {
  max-height: 450px;
  overflow-y: scroll;
}

.single-place-container {
  margin-bottom: 20px;
}

.live-percentage-display {
  margin-bottom: 1.5rem;
}

#bottom-buttons {
  margin-top: 20px;
}

#bottom-buttons button {
  margin-left: 10px;
}

.checkbox-cost-label-wrapper {
  width: 330px !important;
}

.checkbox-cost-label {
  width: 130px;
}

@media(max-width: 767px) {
  .checkbox-cost-label-wrapper {
    width: 210px !important;
  }

  .checkbox-cost-label {
    width: 70px;
  }

  .live-percentage-display {
    position: fixed;
    bottom: 60px;
    left: 15px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 2px -2px 4px rgba(0,0,0,0.2);
    background: #fff;
    z-index: 500;
    margin-bottom: 0px;
  }

  #bottom-buttons {
    margin-top: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 501;
    background: #fff;
    padding: 10px 15px;
  }

  #bottom-buttons button {
    font-size: 14px;
    margin: 0px;
    width: calc(50% - 15px);
  }

  #bottom-buttons button:nth-child(1) {
    float: left;
  }

  #bottom-buttons button#save-and-continue-button {
    width: 100%;
  }

  .costs-div {
    padding-top: 5px;
  }

  .costs-div:nth-child(2) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .costs-div:nth-child(3) {
    padding-left: 10px !important;
  }

  .costs-div h4 {
    font-size: 16px;
  }

  .single-place-container {
    margin-bottom: 120px;
  }
}

.location-input.form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.location-input.location-name.form-control {
  font-size: 1.75rem;
  line-height: 1.1;
}

h3.location-name {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.location-input.location-address.form-control {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 6px;
}

#placeSavedModal .modal-body, #quoteRequestedModal .modal-body {
  background: #D9E9ED;
}

#placeSavedModal h1 {
  font-size: 700%;
}
</style>

<style scoped>
.provider-sub-wrapper:not(.last) {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-left-primary {
  border-left: 3px solid rgb(0, 111, 112);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 0px 2px 10px;
}

.border-left-primary strong {
  font-size: 90%;
}

.location-name {
  max-width: calc(100% - 100px);
}

.border-both {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.border-right {
  border-right: 1px solid #ddd;
}

.border-top {
  border-top: 1px solid #ddd;
}

.show-sub-info-circle {
  font-size: 20px;
}

.checkbox-right-menu {
  padding-top: 10px;
  width: 45px;
}

.main-checkbox-form {
  width: calc(100% - 50px);
  display: inline-block;
}

.green {
  color: #4db53c;
}
.red {
  color: #CE0000;
}
.gray {
  color: #CCC;
}
.yellow {
  color: #EFD90A;
}
.orange {
  color: #e08833;
}

.gray.progress-bar {
  background-color: #CCC;
}
.green.progress-bar {
  background-color: #4db53c;
}
.red.progress-bar {
  background-color: #CE0000;
}
.yellow.progress-bar {
  background-color: #EFD90A;
}
.orange.progress-bar {
  background-color: #e08833;
}
</style>
