<template>
  <div class="sobre">
    <h2 class="mt-2">Sobre Zequer View</h2>
  </div>
</template>

<script>
export default {
  name: 'sobre',
  data() {
    return {};
  },
};
</script>

<style scoped>
</style>
