<template>
  <b-modal ref="solutionsInitModal" id="solutionsInitModal" hide-footer title="Soluciones">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-10">
        <form @submit.stop.prevent="accept">
          <h4 class="text-regular">Selecciona las soluciones que creas pertinente para mejorar el sistema de seguridad de tu hogar.</h4>
          <div class="form-group mt-5 mb-5">
            <button type="submit" class="btn btn-lg btn-orange btn-round-mini shadow-2">ACEPTAR</button>
          </div>
        </form>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'solutionsInitModal',
  data() {
    return {};
  },
  methods: {
    accept() {
      this.$refs.solutionsInitModal.hide();
    },
  },
};
</script>

<style scoped>
.btn {
  min-width: 200px;
}
</style>
