<template id="component-template">

<div class="row component" :class="'level-' + level" :id="'component-' + component.url" :style="'margin-left: ' + (10 * level - 15) + 'px'">
  <div class="col-12">
    <div class="form-check main-checkbox-form">
      <label v-if="component.polar" class="form-check-label pt-2">
        <input class="form-check-input custom-checkbox" type="checkbox" v-model="component.selected" value="" @change="checkboxToggle()">
        <span :class="{ 'text-bold': component.selected }">{{ component.name }}</span>
      </label>

      <div class="radio-component-wrapper" v-if="!component.polar">
        <label class="mt-2"><strong>{{ component.name }}</strong></label>
        <div class="radio" v-for="op in component.options">
          <label><input class="mr-2" type="radio" :name="'optradio-' + component.url" v-model="component.selected" :value="op.url" @change="radioButtonChange()">{{ op.name }}</label>
        </div>
      </div>
    </div>
    <div class="checkbox-right-menu pull-right barely-visible">
      <a class="text-default" href="#"><span class="fa fa-info-circle show-sub-info-circle"></span></a>&nbsp;
      <a class="text-default" v-on:click.stop.prevent="toggleSubVisible()" href="#" v-show="component.children && component.children.length"><span class="fa fa-chevron-right" :class="{ 'fa-chevron-right': !component.subVisible, 'fa-chevron-down': component.subVisible }"></span></a>
    </div>
  </div>

  <div v-if="component.children && component.children.length" v-show="component.subVisible" class="children col-12">
    <Solution v-for="child in component.children" :parent="component.url" :component="child" :level=(level+1) :key="child.url"></Solution>
  </div>
</div>

</template>

<script>
export default {
  name: 'Solution',
  data() {
    return {};
  },
  props: ['component', 'level', 'parent'],
  methods: {
    toggleSubVisible() {
      this.component.subVisible = !this.component.subVisible;
    },
    radioButtonChange() {
      this.$root.$emit('solution toggle', {
        url: this.component.url,
        value: this.component.selected,
      });

      if (this.component.selected) {
        this.selectParent();
      }
    },
    checkboxToggle() {
      this.$root.$emit('solution toggle', {
        url: this.component.url,
        value: this.component.selected,
      });

      if (!this.component.selected) {
        this.component.subVisible = false;
        this.deselectChildren(this.component);
      } else {
        this.component.subVisible = true;
        this.selectParent();
      }
    },
    deselectChildren(c) {
      if (c && c.children && c.children.length) {
        c.children.forEach((cc) => {
          this.$root.$emit(`solution deselect ${cc.url}`);
        });
      }
    },
    selectParent() {
      if (this.parent) {
        this.$root.$emit(`solution select ${this.parent}`);
      }
    },
  },
  mounted() {
    this.$root.$on(`solution deselect ${this.component.url}`, () => {
      if (this.component.selected) {
        this.component.selected = false;
        if (this.component.polar) {
          this.checkboxToggle();
        } else {
          this.radioButtonChange();
        }
      }
    });

    this.$root.$on(`solution select ${this.component.url}`, () => {
      if (!this.component.selected) {
        this.component.selected = true;
        this.checkboxToggle();
      }
    });
  },
};
</script>

<style scoped>
.show-sub-info-circle {
  font-size: 20px;
}

.radio-component-wrapper {
  padding-left: 27px;
}

.children {
  padding-left: 25px;
}

.checkbox-right-menu {
  padding-top: 10px;
  width: 45px;
}

.main-checkbox-form {
  width: calc(100% - 50px);
  display: inline-block;
}
</style>
