<template>
  <div id="app" :class="normalizeRouteName($route.name)">
    <navb></navb>
    <router-view></router-view>
    <foot class="hidden-sm-down"></foot>
    <auth-modal></auth-modal>
  </div>
</template>

<script>
import Navb from './components/Navb';
import Foot from './components/Foot';
import AuthModal from './components/AuthModal';

export default {
  name: 'app',
  components: { Navb, Foot, AuthModal },
  mounted() {
    this.$store.dispatch('initialize');
  },
  methods: {
    normalizeRouteName(p) {
      return p.toLowerCase().split(' ').join('-');
    },
  },
};
</script>

<style>
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-align: center;
  color: #575757;
  min-height: 100vh;
  padding-bottom: 45px;
  position: relative;
  background: #D9E9ED;
}

#app.edit-profile,
#app.solutions,
#app.single-place,
#app.my-places {
  background: #fcfcfc;
}


:focus {
  outline:  none;
}

a, a:focus, a:visited, a:active {
  color: rgb(0, 111, 112);
}

a:hover {
  color: rgb(0, 101, 102);
}

.card {
  border: none;
  border-radius: 0px;
}

.custom-checkbox {
    position: relative !important;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px 0;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.custom-checkbox:after {
    content: '';
    position: absolute;
    top: 3px;
    display: block;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 2px;
}

.custom-checkbox[type=checkbox]:before {
    background: rgb(0, 111, 112) url("./assets/check.png");
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    position: absolute;
    top: 3px;
    left: 2px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 111, 112);
}

.custom-checkbox[type=checkbox]:checked:before {
    content: '';
    position: absolute;
    top: 3px;
    opacity: 1;
    left: 0px;
    border: 1px solid rgb(0, 111, 112);
    border-radius: 2px;
}

.custom-checkbox.checkbox-primary[type=checkbox]:before {
    background-color: rgb(0, 111, 112);
    color: rgb(0, 111, 112);
}

.custom-checkbox.checkbox-primary[type=checkbox]:checked:before {
  border-color: rgb(0, 111, 112);
}

.custom-checkbox.checkbox-orange[type=checkbox]:before {
    background-color: #E3571F;
    color: #E3571F;
}

.custom-checkbox.checkbox-orange[type=checkbox]:checked:before {
  border-color: #E3571F;
}


.btn, button {
  cursor: pointer;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.btn-lg {
  font-size: 20px;
}

.btn-round {
  border-radius: 8px !important;
}

.btn-circle {
  border-radius: 100% !important;
  height: 45px;
  width: 45px;
}

.btn-round-mini {
  border-radius: 4px !important;
}

.text-primary {
  color: rgb(0, 111, 112) !important;
}

.btn.btn-primary, .btn.btn-primary:focus, .btn.btn-primary:visited {
  background: rgb(0, 111, 112);
  color: #fff !important;
}

.btn.btn-primary:hover {
  background: rgb(0, 101, 102);
}

.text-orange, a.text-orange {
  color: #E3571F;
}

.btn.btn-orange, .btn.btn-orange:focus, .btn.btn-orange:visited {
  background: #E3571F;
  color: #fff !important;
}

.btn.btn-orange:hover {
  background: #D94D15;
}

.btn.btn-line {
  background: none !important;
}

.btn.btn-line:hover {
  background: rgba(0,0,0,0.02) !important;
}

.btn.btn-orange.btn-line, .btn.btn-orange.btn-line:hover {
  border: 1px solid #E3571F !important;
  color: #E3571F !important;
}


.btn.btn-black, .btn.btn-black:focus, .btn.btn-black:visited {
  background: #4E4C4C;
  color: #fff !important;
}

.btn.btn-black:hover {
  background: #444242;
}

.text-default, a.text-default {
  color: #3A393B;
}

a.text-default:hover {
  color: #111;
}

.modal-content {
  border-radius: 0px !important;
}

body .modal.show {
  display: flex !important;
  height: 100%;
}

body .modal.show .modal-dialog {
  margin: auto;
  min-width: 450px;
}

@media(max-width: 450px) {
  body .modal.show .modal-dialog {
    width: 95vw;
    min-width: initial;
  }
}

.modal.fade {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.dropdown-menu {
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  padding: 0.1rem 0;
  min-width: 12rem;
}

.dropdown-item {
  padding: 8px 1rem;
}

.insignificant {
  opacity: .75;
}

.barely-visible {
  opacity: .4;
}

.text-bold {
  font-weight: bold !important;
}

.text-regular {
  font-weight: 400 !important;
}

.text-light {
  font-weight: 300 !important;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.ellipsis {
  /* only works with fixed width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blur-intense {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

</style>
